trimesh
diffusers>=0.31.0
accelerate
huggingface_hub
einops
opencv-python
transformers
xatlas
pymeshlab
dataclasses-json
pygltflib==1.16.2
scikit-learn
scikit-image
pybind11
#for quad remeshing node
pynanoinstantmeshes
#for fast decimation node
pyfqmr